# backend ignore files.
/backend/venv
/backend/.idea
/backend/db.sqlite3
*.pyc

# front ignore files.
/frontend/web/node_modules
/frontend/web/dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
